*{
    overflow-x: hidden;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: "poppins", sans-serif;
    color: black;
    overflow-x: hidden;
}

h1{
    text-align: center;
    font-family: "dr dafoe", cursive;
    color:rgb(255, 29, 86);
    font-size: 26px;
}
 h2{
    text-align: center;
    font-family: "dr dafoe", cursive;
    color:rgb(255, 29, 86);
    font-size: 30px;
}
p{
 font-size: 15px;
 margin: 10px;  
 font-family: "poppins",sans-serif; 
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.image img{
    width: 400px;

}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#name, #email, #company, #phone,#how, #lastName, #firstName, textarea{
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    border: none;
}
#name, #email, #company,
 #phone,#how, #lastName, #firstName, textarea:focus,::after,::placeholder{
    color: black!important;
    outline: none;
}
label{
    font-weight: 520;
    font-size: 14px;
    left: 5px;
    line-height: 20px;
    position: relative;
    font-family: "poppins", sans-serif;
}

.btn{
    padding: 12px 50px;
    width: 150px;
    outline: none!important;
}

.submit{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 12px 35px;
    background-color:rgb(255, 29, 86);
    border: none;
    outline: none!important;
    border-radius: 8px;
    margin-top: 20px;
    
}

.thanks{
  position: absolute;  
top: 20%;
left: 10%;
}
.card-img img{
    width: 400px;
}
.card h2{
    font-family: "poppins", cursive;
}

@media screen and (min-width:768px){
  .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 100%;
  }

  .image {
    width: 50%;
    height: 50%;
  }
  .image img{
      width: 350px;
  }
  .contain{
    width: 50%;
    height: 50%;
  }
    .wrapper{
        display: flex;
        flex-direction: row;
    }
    .row1, .row2{
        width:50%;
        height: 50%;
    }

    #name, #email, #company, #phone,#how, #lastName, #firstName{
        width: 85%;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        background-color: rgb(250, 250, 250);
        border:none;
    }
    textarea{
        width: 90%;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid grey;
    }
  

    .thanks{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .card-img img{
          width: 450px;
      }
 
}
@media screen and (min-width:1024px){
  .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 100%;
  }
  h2{
      font-size: 30px;
  }
   h1{
      font-size: 28px;
  }
  p{
      margin: 30px;
  }

  .image {
    width: 50%;
    height: 50%;
  }
  .image img{
      width: 500px;
  }
  .contain{
    width: 50%;
    height: 50%;
  }
    .wrapper{
        display: flex;
        flex-direction: row;
    }
    .row1, .row2{
        width:45%;
        height: 50%;
    }

    #name, #email, #company, #phone,#how, #LastName, #firstName{
        width: 100%;
 }
    textarea{
        width: 100%;
   
    }

    .card-img img{
        width: 600px;
    }
 
}


  
